/* Write your CSS here */
.bg-container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}
.heading {
  font-size: 40px;
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  font-style: 'Italic';
  text-align: center;
}
.para {
  font-size: 40px;
  color: #94a3b8;
  font-family: 'Roboto';
  font-weight: bold;
}
.btn-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px;
}
.btn-1 {
  color: white;
  background-color: #0b69ff;
  height: 36px;
  width: 100px;
  border-radius: 10px;
  border-width: 0px;
}
.btn-2 {
  color: #94a3b8;
  background-color: transparent;
  height: 36px;
  width: 100px;
  border-radius: 10px;

  border: 2px #94a3b8 solid;
}
.para-1 {
  font-size: 40px;
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  font-style: 'Italic';
  text-align: center;
}
.image-1 {
  width: 30%;
}
